<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array>
		<dict>
			<key>ParameterNames</key>
			<array>
				<string></string>
			</array>
			<key>ParameterVocabulary</key>
			<array>
				<dict>
					<key>VocabularyItemIdentifier</key>
					<string></string>
					<key>VocabularyItemSynonyms</key>
					<array>
						<dict>
							<key>VocabularyItemPhrase</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>Navigate</string>
			<key>IntentExamples</key>
			<array>
				<string>Navigate to my vehicle</string>
				<string>Navigate to my parked car</string>
				<string>Get direction to my vehicle</string>
				<string>Get direction of my parking location</string>
				<string>Help me find my car</string>
				<string>Help me find my motorcycle</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>SaveLocation</string>
			<key>IntentExamples</key>
			<array>
				<string>Save my parking location</string>
				<string>Mark my parking spot</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
